<section class="text-center">
  <div class='w-full min-h-[100svh] sm:min-h-0 pt-16 -mb-20 sm:mb-20'>
    <h1>RevVocal</h1>
    <h2>Engine Harmonics Challenge</h2>

    <%= image_tag "hero.png", class: "py-10 sm:p-20 sm:max-w-[500px] sm:mx-auto animate-" %>

    <div class="flex gap-4 justify-center">
      <button class="bg-emerald-500 hover:bg-emerald-400 dark:bg-emerald-600 dark:hover:bg-emerald-500 text-white px-3 py-2 rounded-md duration-500 hover:cursor-pointer">Start a Game</button>

      <button class="bg-blue-500 hover:bg-blue-400 dark:bg-blue-600 dark:hover:bg-blue-500 text-white px-3 py-2 rounded-md duration-500 hover:cursor-pointer">Upload a Sound</button>
    </div>
  </div>

  <p class="max-w-2xl mx-auto text-xl mb-10">Dive into the world of motorcycles with authentic engine sounds from various models and brands.</p>

  <p class="max-w-2xl mx-auto text-xl mb-10">Sharpen your auditory senses as you listen to and identify different motorcycle engines, testing your knowledge and passion.</p>

  <p class="max-w-2xl mx-auto text-xl mb-10">Compete against fellow enthusiasts by correctly identifying as many engine sounds as possible within the time limit, aiming for the top spot on the global leaderboard.</p>
</section>
